@model IEnumerable<RentalSystemUI.DTOs.Vozilo.VoziloDTO>

<h2>Lista vozila</h2>

<a class="btn btn-primary mb-3" asp-controller="Vozilo" asp-action="Dodaj">Dodaj vozilo</a>

@if (Model != null && Model.Any())
{
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var vozilo in Model)
            {
                <div class="col">
                    <div class="card shadow-sm @(vozilo.Iznajmljen ? "bg-danger text-white" : "bg-success text-white")">
                        <img src="..." class="card-img-top" alt="Slika vozila" style="height: 200px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title text-center">@vozilo.Marka</h5>
                            <p class="card-text"><strong>Model:</strong> @vozilo.Model</p>
                            <p class="card-text"><strong>Cena vozila:</strong> @vozilo.CenaVozila</p>
                            <p class="card-text"><strong>Registarski broj:</strong> @vozilo.RegistarskiBroj</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <p>Trenutno nema vozila u firmi</p>
}
